<h1>Name: <%= @user.name %></h1>
<h3>Username: <%= @user.username %></h3>

<h4><%= link_to("Create Reservation", new_reservation_path) %></h4>
<h4><%= link_to("Find Restaurant", restaurants_path) %></h4>
<h4><%= link_to("Edit Your Account", reservation_path(@user)) %></h4>
<h4><%= link_to "Log out", logout_path, method: :delete %></h4>
<h3>Your Reservations</h3>
<% @user.reservation.name%>


<%# <% @user.friendships.each do |friend| %>
<%# <%= friend.name %>
<%# <% end %> 
<%# <ul>
  <% for user in @user.friends %>
  <%# <li><%=  user.username %></li>
   
<%# </ul> %>

<%# <h3>Your Friends</h3>
<ul>
  <% @user.friends.each do |friend| %>
  <%# <li><%= link_to(friend.username, user_path(friend)) %></li>
  <%# <% end %>

    <%# <%=  friendship.friend.username %>
    <%# (<%= link_to "remove", friendship, :method => :delete %>

<%# </ul> %>

